  mat-form-field {
    display: inline-flex;
    margin-right: 30px;
  }

.image-management-section {
    margin-top: 50px;
}  

.image-management-section img {
  margin-bottom: 50px;
  width: 100%;
  object-fit: cover;    
}

.language-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.language-section-margin {
  margin: 0 10px;
}