/* .card-img-top {
    width: 100%;
    height: 60%;
    object-fit: cover;
}

.card-body {
    width: 100%;
    height: 40%;
    object-fit: cover;
} */


.property-card-brief {
    text-align: center;
    padding-top: 10px;
    color: #001D38;
}
