<div class="card single_property">
    <div class="property_thumb embed-responsive embed-responsive-4by3" *ngIf="property.primaryImage">
        <div class="property_tag" *ngIf="translateService.currentLang === 'zh' && property.tag.chinese != null && property.tag.chinese != ''">
            {{property.tag.chinese}}
        </div>
        <div class="property_tag" *ngIf="translateService.currentLang === 'en' && property.tag.english != null && property.tag.english != ''">
            {{property.tag.english}}
        </div>        
        <div class="property_price">
            {{property.askingPrice | currency}}
        </div>           
        <a routerLink="/property/{{property.id}}">
            <img class="card-img-top embed-responsive-item" src="{{property.primaryImage.mediumLink}}" alt="">
        </a>
    </div>
    <div class="card-body property_content">
        <div class="main_pro">
            <h3><a routerLink="/property/{{property.id}}">{{property.address}}</a></h3>
            <div class="container">
                <div class="row justify-content-between">
                    <div class="mark_pro">
                        <img src="assets/location.svg" alt=""> 
                        <span> {{property.neighborhood}}</span>
                    </div>
                    <div class="mark_pro">
                        <span>{{property.propertyType | translate}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer_pro card-footer">
        <ul>
            <li>
                <div class="single_info_doc">
                    <img src="assets/square.svg" alt="">
                    <span>{{property.area}}</span>
                </div>
            </li>
            <li>
                <div class="single_info_doc">
                    <img src="assets/bed.svg" alt="">
                    <span>{{property.numberOfRooms}}</span>
                </div>
            </li>
            <li>
                <div class="single_info_doc">
                    <img src="assets/bath.svg" alt="">
                    <span>{{property.numberOfWashrooms}}</span>
                </div>
            </li>
        </ul>
    </div>
</div>