<div class="container">
    <div class="row">
        <div class="row">
            <div class="col-lg-4 col-md-8 sidebar">
                <div class="agent-widget">
                    <!-- <div class="sidebar-image"> -->
                        <img class="sidebar-image" src="https://images.squarespace-cdn.com/content/v1/5d425c3accfbe50001c13b16/1565318289989-NHKHVZCS70SENY9W42RM/ke17ZwdGBToddI8pDm48kMZDWQmjgHJUcPr17npBZmRZw-zPPgdn4jUwVcJE1ZvWEtT5uBSRWt4vQZAgTJucoTqqXjS3CfNDSuuf31e0tVGgxaxAvrH_Qq7-L1cbOGwu4e5jFLqLKU4CoUjr8FaVAh926scO3xePJoa6uVJa9B4/guant_20171111_D811996-removebg-preview.png"
                            alt="">
                    <!-- </div> -->
                    <!-- <div class="aw-text">
                        <h4>Christinne James</h4>
                        <h6>Real Estate Agent</h6>
                        <p>Fusce lobortis a enim eget tempus. Class aptent taciti sociosqu ad litora. Donec eget
                            efficitur ex. Donec eget dolor vitae eros feugiat tristique id vitae massa. </p>
                        <a href="#" class="readmore-btn">Contact the agent</a>
                    </div>                     -->
                    <!-- <div class="sidebar-image"> -->
                        <img class="sidebar-image" src="https://images.squarespace-cdn.com/content/v1/5d425c3accfbe50001c13b16/1577427785882-KLNNU68VIVEGNS6CK7ZX/ke17ZwdGBToddI8pDm48kLh1saP75vC4rWxvy1v4RDRZw-zPPgdn4jUwVcJE1ZvWQUxwkmyExglNqGp0IvTJZUJFbgE-7XRK3dMEBRBhUpzBZc9cn_KgttuoIZDpUtz9bBDeWYRuJFJdEJJCJYPN2DsVba-UqOHZg-79dIrT3ok/4818e8d2768148feb11621d3812cf047.PNG"
                            alt="">
                                                
                        <img class="sidebar-image" src="https://images.squarespace-cdn.com/content/v1/5d425c3accfbe50001c13b16/1577427337333-TDOXON0QY83MGV4TCOY2/ke17ZwdGBToddI8pDm48kP06O0_IHyRXSOOiqwgWaApZw-zPPgdn4jUwVcJE1ZvWEtT5uBSRWt4vQZAgTJucoTqqXjS3CfNDSuuf31e0tVEHLRkg2cosQUGLeQ33UzXdgIxPDaVwE3LlEpL74qP4JVW4jCyXLPvvdR287iymYt8/liudan+wechat.jpg"
                            alt="">
                    <!-- </div> -->

                    <!-- <div class="sidebar-image"> -->

                    <!-- </div> -->

                </div>
                <div class="map-widget">
                    <!-- <agm-map [latitude]="property.location.lat" [longitude]="property.location.lng" [zoom]="13"
                        [fullscreenControl]='true' [mapTypeControl]='true'>
                        <agm-marker [latitude]="property.location.lat" [longitude]="property.location.lng">
                        </agm-marker>
                    </agm-map> -->
                </div>

            </div>
            <div class="col-lg-8">
                福居温尼伯
                fujuwinnipeg.com
                从业近10年，师从温尼伯华人地产经纪鼻祖卜涧淞，现供职于卜涧淞团队，已帮助近500位客户找到了他们心中满意的家。
                我目前正在考取评估师以及验房师资格证。 专注新建房以及开发。
                我从客户角度出发，聆听客户需求，为您找出最佳解决方案，提供良好的售前，售中以及售后服务。
                联系方式
                手机：204-228-4950
                邮箱：liudan_109@hotmail.com
                公司个人主页：https://www.dichanjingji.com/superdan
                平方米地产
                温尼伯第一个华人地产经纪公司
                平方米地产- Square Meter Realty经纪公司
                ，是一家提供温尼伯房地产销售，地产咨询，新经纪培训的地产经纪公司，由温尼伯资深房地产经纪人卜涧松创立。作为温尼伯唯一华人地产经纪公司，多数开心满意的客户是我们多年来收货的最宝贵财富。
                我们追求的是团队精神，注重培训经纪的专业知识， 把专业，努力，负责任作为公司的服务宗旨，同时让更多的人理解我们的商业文化和规划。我们长期致力于招纳并培训出色的全方位地产经纪人。
                我们的追求 关注我们您将得到温尼伯最新最全的买房，卖房，投资，房屋养护知识。我们的专业团队将为你提供专业的服务。
                如有任何房屋买卖，房屋养护的问题都可以向我们咨询，我们会一一为你做出解答。我们期待着您的留言和来电！
            </div>
        </div>
    </div>
</div>





<!-- <agm-map [latitude]="49.810088" [longitude]="-97.183745" [zoom]="11" [zoomControl]="false">

        <agm-marker *ngFor="let property of properties" [latitude]="property.location.lat"
            [longitude]="property.location.lng" [iconUrl]="getIcon(property)">

            <agm-info-window>
                <p><a routerLink="/view/{{property.id}}">{{property.address}}</a></p>
                <p><strong>{{property.aboutPageComment}}</strong></p>
            </agm-info-window>

        </agm-marker>

    </agm-map> -->