<div class="container" *ngIf="owner">
    <div class="row">
        <div class="row">
            <div class="col-lg-4 col-md-8 sidebar">
                <div class="agent-widget">
                    <!-- <div class="sidebar-image"> -->
                        <img class="sidebar-image" src="{{owner.portrait.link}}"
                            alt="">
                    <!-- </div> -->
                    <!-- <div class="aw-text">
                        <h4>Christinne James</h4>
                        <h6>Real Estate Agent</h6>
                        <p>Fusce lobortis a enim eget tempus. Class aptent taciti sociosqu ad litora. Donec eget
                            efficitur ex. Donec eget dolor vitae eros feugiat tristique id vitae massa. </p>
                        <a href="#" class="readmore-btn">Contact the agent</a>
                    </div>                     -->
                    <!-- <div class="sidebar-image"> -->
                        <img class="sidebar-image" src="{{owner.signature.link}}"
                            alt="">
                                                
                        <img class="sidebar-image" src="{{owner.barcode.link}}"
                            alt="">
                    <!-- </div> -->

                    <!-- <div class="sidebar-image"> -->

                    <!-- </div> -->

                </div>
                <div class="map-widget">
                    <!-- <agm-map [latitude]="property.location.lat" [longitude]="property.location.lng" [zoom]="13"
                        [fullscreenControl]='true' [mapTypeControl]='true'>
                        <agm-marker [latitude]="property.location.lat" [longitude]="property.location.lng">
                        </agm-marker>
                    </agm-map> -->
                </div>

            </div>
            <div class="col-lg-8">
                <!-- {{owner.aboutPageDescription}} -->
                <div [innerHTML]="owner.aboutPageDescription"></div>                
            </div>
        </div>
    </div>
</div>





<!-- <agm-map [latitude]="49.810088" [longitude]="-97.183745" [zoom]="11" [zoomControl]="false">

        <agm-marker *ngFor="let property of properties" [latitude]="property.location.lat"
            [longitude]="property.location.lng" [iconUrl]="getIcon(property)">

            <agm-info-window>
                <p><a routerLink="/view/{{property.id}}">{{property.address}}</a></p>
                <p><strong>{{property.aboutPageComment}}</strong></p>
            </agm-info-window>

        </agm-marker>

    </agm-map> -->