<div>
    <agm-map [latitude]="49.810088" [longitude]="-97.183745" [zoom]="11" [zoomControl]="false">

        <agm-marker *ngFor="let property of properties" [latitude]="property.location.lat"
            [longitude]="property.location.lng" [iconUrl]="getIcon(property)">

            <agm-info-window>
                <p><a routerLink="/view/{{property.id}}">{{property.address}}</a></p>
                <p><strong>{{property.aboutPageComment}}</strong></p>
            </agm-info-window>

        </agm-marker>

    </agm-map>
</div>