<div>
  <agm-map [latitude]="49.810088" [longitude]="-97.183745" [zoom]="11" [zoomControl]="false">
      <agm-marker *ngFor="let property of properties" [latitude]="property.location.lat"
          [longitude]="property.location.lng">
          <agm-info-window>
              <app-property-card [property]="property"></app-property-card>
          </agm-info-window>
      </agm-marker>
  </agm-map>
</div>

<div class="card-list" fxLayout="row wrap" fxLayoutAlign="space-around center" *ngFor="let property of properties">
    <app-property-card [property]="property"></app-property-card>
</div>