<!-- <div>
    <agm-map [latitude]="49.810088" [longitude]="-97.183745" [zoom]="11" [zoomControl]="false">
        <agm-marker *ngFor="let property of properties" [latitude]="property.location.lat"
            [longitude]="property.location.lng">
            <agm-info-window>
                <app-property-card [property]="property"></app-property-card>
            </agm-info-window>
        </agm-marker>
    </agm-map>
</div> -->

<!-- <div class="card-list" fxLayout="row wrap" fxLayoutAlign="space-around center" *ngFor="let property of properties">
    <app-property-card [property]="property"></app-property-card>
</div> -->

<!-- <div class="container">
    <div class="row">
      <div class="col-md-3 my-5" *ngFor="let property of properties">
        <app-property-card [property]="property"></app-property-card>
      </div>
    </div>
  </div> -->


<div class="popular_property">
    <div class="container">
        <div class="single_property">
        <agm-map [latitude]="49.810088" [longitude]="-97.183745" [zoom]="11" [zoomControl]="false">
            <agm-marker *ngFor="let property of properties" [latitude]="property.location.lat"
                [longitude]="property.location.lng">
                <agm-info-window>
                    <app-property-card [property]="property"></app-property-card>
                </agm-info-window>
            </agm-marker>
        </agm-map>
    </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section_title mb-40 text-center">
                    <h4>最近房源</h4>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-4 col-md-6 col-lg-4" *ngFor="let property of properties">
                <app-listing-card [property]="property"></app-listing-card>
            </div>
        </div>


        <!-- <div class="row">
            <div class="col-xl-12">
                <div class="more_property_btn text-center">
                    <a href="#" class="boxed-btn3-line">More Properties</a>
                </div>
            </div>
        </div> -->
    </div>
</div>