
  
  a {
    text-decoration: none;
	  color: white;
	  font-weight: bold;
  }
  
  a:hover,
  a:active {
    color: lightgray;
  }

  .icon {
    display: inline-block;
    height: 30px;
    margin: 0 auto;
    padding-right: 5px;
    text-align: center;
    vertical-align: middle;
    width: 15%;
  }


body {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-style: normal;
}


a,
.button {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

a:focus,
.button:focus, button:focus {
  text-decoration: none;
  outline: none;
}

a:focus {
  text-decoration: none;
}

a:focus,
a:hover,
.portfolio-cat a:hover,
.footer -menu li a:hover {
  text-decoration: none;
}

a,
button {
  color: #1F1F1F;
  outline: medium none;
}

h1, h2, h3, h4, h5 {
  font-family: "Poppins", sans-serif;
  color: #001D38;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}


label {
  color: #7e7e7e;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
}

*::-moz-selection {
  background: #444;
  color: #fff;
  text-shadow: none;
}

::-moz-selection {
  background: #444;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #444;
  color: #fff;
  text-shadow: none;
}

*::-webkit-input-placeholder {
  color: #cccccc;
  font-size: 14px;
  opacity: 1;
}

*:-ms-input-placeholder {
  color: #cccccc;
  font-size: 14px;
  opacity: 1;
}

*::-ms-input-placeholder {
  color: #cccccc;
  font-size: 14px;
  opacity: 1;
}

*::placeholder {
  color: #cccccc;
  font-size: 14px;
  opacity: 1;
}

h3 {
  font-size: 24px;
}






.navbar-brand {
	font-size: 28px;
	font-weight: bold;  
}

.navbar a {
  color: #dfa974;
}

.nav-link {
  list-style: none;
  padding: 0;
  margin: 0;
  cursor: pointer;  
  display: inline-block;
  font-size: 20px;
}


/* .navbar {
  background: #222736;
} */

.navbar-color {
	background-color:transparent !important;
	border-color:transparent;
	background-image:none;
	box-shadow:none;	  
}

.background {
  background-image: url(../assets/background.jpg) ;
  /* background-repeat: no-repeat; */
  background-attachment: fixed;  
  
}

mat-card {
  background: rgba(255, 255, 255, 0.849);
}