<div class="container" *ngIf="blogList != null">
<!--================Blog Area =================-->
    <section class="blog_area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mb-5 mb-lg-0">
                    <div class="blog_left_sidebar" >
                        <article class="blog_item" *ngFor="let blog of displayList | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
                            <div class="blog_item_img">
                                <img class="card-img rounded-2" src="{{blog.coverImage.mediumLink}}" alt="">
                            </div>
                            <div class="blog_details">
                                <a class="d-inline-block" routerLink="/post/{{blog.id}}">
                                    <h2>{{blog.title | description}}</h2>
                                </a>
                                <p><span class="blog_brief">{{blog.brief | description}}</span></p>
                                <div class="row ml-1 blog-info-link">
                                    <a><i class="fa fa-comments"></i> {{blog.category | translate}}</a>
                                    <a class="pl-3"><i class="fa fa-calendar"></i> {{blog.date | date}}</a>
                                </div>
                            </div>
                        </article>
                        <ngb-pagination
                        [(page)]="page"
                        [pageSize]="pageSize"
                        [collectionSize]="displayList.length"></ngb-pagination>                     
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="blog_right_sidebar">
                        <!-- Search -->
                        <!-- <aside class="single_sidebar_widget search_widget">
                            <form action="#">
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" placeholder='Search Keyword'
                                            onfocus="this.placeholder = ''"
                                            onblur="this.placeholder = 'Search Keyword'">
                                        <div class="input-group-append">
                                            <button class="btn" type="button"><i class="ti-search"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                                    type="submit">Search</button>
                            </form>
                        </aside> -->

                        <aside class="single_sidebar_widget post_category_widget" >
                            <h4 class="widget_title">{{'label.category' | translate}}</h4>
                            <ul class="list cat-list">
                                <li>
                                    <a (click)='resetCategory()' class="d-flex">
                                        <p>{{'label.all' | translate}}</p>
                                        <p>({{blogList.length}})</p>
                                    </a>
                                </li>                                                                
                                <li *ngFor="let category of categories">
                                    <a (click)='changeCategory(category)' class="d-flex">
                                        <p class="{{category == currentCategory?'current_category':'dumy'}}">{{category | translate}}</p>
                                        <p>({{getCategoryCount(category)}})</p>
                                    </a>
                                </li>
                            </ul>
                        </aside>

                        <aside class="single_sidebar_widget popular_post_widget">
                            <h3 class="widget_title">{{'label.feelingLucky' | translate}}</h3>
                            <div class="media post_item" *ngFor="let post of randomPosts">
                                <div class="feeling_lucky_cover">
                                    <img src="{{post.coverImage.smallLink}}" alt="post">
                                </div>
                                <div class="media-body">
                                    <a routerLink="/post/{{post.id}}">
                                        <h3>{{post.title.chinese}}</h3>
                                    </a>
                                    <p>{{post.date | date}})</p>
                                </div>
                            </div>
                        </aside>
                        <!-- <aside class="single_sidebar_widget newsletter_widget">
                            <h4 class="widget_title">Newsletter</h4>

                            <form action="#">
                                <div class="form-group">
                                    <input type="email" class="form-control" onfocus="this.placeholder = ''"
                                        onblur="this.placeholder = 'Enter email'" placeholder='Enter email' required>
                                </div>
                                <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                                    type="submit">Subscribe</button>
                            </form>
                        </aside> -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================Blog Area =================-->
</div>    