<div *ngIf="property">
    <!-- Property Details Section Begin -->
    <section class="property-details-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="pd-details-text">
                        <div class="property-more-pic">
                            <section>
                                <ks-carousel [id]="111" [images]="imagesRect"
                                    [carouselConfig]="{maxWidth: '766px', maxHeight: '400px', showArrows: true, objectFit: 'cover', keyboardEnable: true, modalGalleryEnable: true, legacyIE11Mode: false}"
                                    [previewConfig]="{visible: true, number: 5, width: 'auto', maxHeight: '100px'}">
                                </ks-carousel>
                            </section>
                        </div>


                        <div class="row">
                            <div class="col-lg-4">
                                <div class="property-header">
                                    <h3>{{property.address}}</h3>
                                    <h5>{{property.neighborhood}}</h5>
                                    <h5>{{property.askingPrice | currency}}</h5>
                                </div>
                            </div>
                        </div>

                        <div class="property-info-bar">
                            <div class="row">
                                <div class="col-lg-7">
                                    <div class="pi-metas">
                                        <div class="pi-meta">3 Bed </div>
                                        <div class="pi-meta">2 Baths</div>
                                        <div class="pi-meta">1 Garage</div>
                                        <div class="pi-meta">2849 SF</div>
                                    </div>
                                </div>
                                <!-- <div class="col-lg-5 text-left text-lg-right">
									<a href="#" class="offer-btn">Make an Offer</a>
								</div> -->
                            </div>
                        </div>











                        
                        <!-- <div class="col-lg-8 offset-lg-2">
                            <div class="pd-hero-text">
                                <p class="room-location"><i class="icon_pin"></i> 9721 Glen Creek Ave. Ballston Spa, NY</p>
                                <h2>Villa 9721 Glen Creek</h2>
                                <div class="room-price">
                                    <span>Start Form:</span>
                                    <p>$3.000.000</p>
                                </div>                                
                                <ul class="room-features">
                                    <li>
                                        <i class="fa fa-arrows"></i>
                                        <p>5201 sqft</p>
                                    </li>
                                    <li>
                                        <i class="fa fa-bed"></i>
                                        <p>8 Bed Room</p>
                                    </li>
                                    <li>
                                        <i class="fa fa-bath"></i>
                                        <p>7 Baths Bed</p>
                                    </li>
                                    <li>
                                        <i class="fa fa-car"></i>
                                        <p>1 Garage</p>
                                    </li>
                                </ul>

                            </div>
                        </div> -->
                     

                        <div class="pd-desc">
                            <!-- <h4>Description</h4> -->
                            <p>{{property.description}}</p>
                        </div>
                        <div class="pd-details-tab">
                            <div class="property-more-table">
                                <table class="left-table">
                                    <tbody>
                                        <tr>
                                            <td class="pt-name">Price</td>
                                            <td class="p-value">$ 138,000</td>
                                        </tr>
                                        <tr>
                                            <td class="pt-name">Property Type</td>
                                            <td class="p-value">Villa</td>
                                        </tr>
                                        <tr>
                                            <td class="pt-name">Year Built</td>
                                            <td class="p-value">2016</td>
                                        </tr>
                                        <tr>
                                            <td class="pt-name">Bathrooms</td>
                                            <td class="p-value">3</td>
                                        </tr>
                                        <tr>
                                            <td class="pt-name">Rooms</td>
                                            <td class="p-value">12</td>
                                        </tr>
                                        <tr>
                                            <td class="pt-name">Parking lots</td>
                                            <td class="p-value">3</td>
                                        </tr>
                                        <tr>
                                            <td class="pt-name">Lot area</td>
                                            <td class="p-value">200 spft</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table class="right-table">
                                    <tbody>
                                        <tr>
                                            <td class="pt-name">Agent</td>
                                            <td class="p-value">Adam Smith</td>
                                        </tr>
                                        <tr>
                                            <td class="pt-name">Reference</td>
                                            <td class="p-value">#2019</td>
                                        </tr>
                                        <tr>
                                            <td class="pt-name">Contract type</td>
                                            <td class="p-value">Sale</td>
                                        </tr>
                                        <tr>
                                            <td class="pt-name">Beds</td>
                                            <td class="p-value">4</td>
                                        </tr>
                                        <tr>
                                            <td class="pt-name">Garages</td>
                                            <td class="p-value">2</td>
                                        </tr>
                                        <tr>
                                            <td class="pt-name">Home area</td>
                                            <td class="p-value">1200 sqft</td>
                                        </tr>
                                        <tr>
                                            <td class="pt-name">Gara Size</td>
                                            <td class="p-value">200 sqft</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="property-map">
                            <h4>Map</h4>
                            <div class="map-inside">
                                <iframe
                                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2942.5524090066037!2d-71.10245469994108!3d42.47980730490846!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e3748250c43a43%3A0xe1b9879a5e9b6657!2sWinter%20Street%20Public%20Parking%20Lot!5e0!3m2!1sen!2sbd!4v1577299251173!5m2!1sen!2sbd"
                                    height="320" style="border:0;" allowfullscreen=""></iframe>
                                <div class="icon">
                                    <i class="fa fa-home"></i>
                                </div>
                            </div>
                        </div>
                        <div class="property-contactus">
                            <h4>Contact Us</h4>
                            <div class="row">
                                <div class="col-lg-5">
                                    <div class="agent-desc">
                                        <img src="img/properties/agent-contact.jpg" alt="">
                                        <div class="agent-title">
                                            <h5>Adam Smith</h5>
                                            <span>Saler Marketing</span>
                                        </div>
                                        <div class="agent-social">
                                            <a href="#"><i class="fa fa-facebook"></i></a>
                                            <a href="#"><i class="fa fa-twitter"></i></a>
                                            <a href="#"><i class="fa fa-google-plus"></i></a>
                                            <a href="#"><i class="fa fa-envelope"></i></a>
                                        </div>
                                        <p>In today’s net-savvy world it has become common for any business to have a
                                            website which they use mostly for advertising their products and services.
                                        </p>
                                    </div>
                                </div>
                                <div class="col-lg-6 offset-lg-1">
                                    <form action="#" class="agent-contact-form">
                                        <input type="text" placeholder="Name*">
                                        <input type="text" placeholder="Email">
                                        <textarea placeholder="Messages"></textarea>
                                        <button type="submit" class="site-btn">Send Message</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Property Details Section End -->


    <!-- <div class="container" fxLayout="column" fxLayoutAlign="space-between center">
        <div style="max-width: 900px; padding-top: 10px;">
            <img mat-card-image src="{{property.primaryImage.link}}" alt="{{property.address}}"
            style="max-width:100%; max-height:100%;">
        </div>
        
        <div>
            <div>
                <h2>Description</h2>
            </div>
            <div class="container" fxLayout="row" fxLayoutAlign="space-between start">
                
                <div style="max-width: 900px;">
                    <p>{{property.description}}</p>
                </div>
            </div>
            <div>
                <h2>Property Summary</h2>
            </div>
            <div class="container" fxLayout="row" fxLayoutAlign="start center">
                <div style="padding: 20px;">
                    <div>Property Type</div>
                    <div>{{property.propertyType}}</div>
                </div>
                
                <div style="padding: 20px; max-width: 200px;">
                    <div>Built in</div>
                    <div>{{property.address}}</div>
                </div>
                <div style="padding: 20px;">
                    <div>Built in</div>
                    <div>{{property.yearBuilt}}</div>
                </div>
            </div>
            <div>
                <h2>Location</h2>
            </div>
            <div>
                <agm-map [latitude]="property.location.lat" [longitude]="property.location.lng" [zoom]="13" [fullscreenControl]='true' [mapTypeControl]='true'>
                    <agm-marker [latitude]="property.location.lat" [longitude]="property.location.lng"></agm-marker>
                </agm-map>
            </div>
            <div>
                <h2>Property Gallery</h2>
            </div>
            <div class="basic-container">
                <section>
                    <ks-carousel [id]="111" [images]="imagesRect"
                    [carouselConfig]="{maxWidth: '766px', maxHeight: '400px', showArrows: true, objectFit: 'cover', keyboardEnable: true, modalGalleryEnable: true, legacyIE11Mode: false}"
                    [previewConfig]="{visible: true, number: 5, width: 'auto', maxHeight: '100px'}">
                    </ks-carousel>
                  </section>
            </div>            

        </div>
    </div> -->
</div>