<div *ngIf="property">
    <div class="container" fxLayout="column" fxLayoutAlign="space-between center">
        <div style="max-width: 900px; padding-top: 10px;">
            <img mat-card-image src="{{property.primaryImage.link}}" alt="{{property.address}}"
            style="max-width:100%; max-height:100%;">
        </div>
        
        <div>
            <div>
                <h2>Description</h2>
            </div>
            <div class="container" fxLayout="row" fxLayoutAlign="space-between start">
                
                <div style="max-width: 900px;">
                    <p>{{property.description}}</p>
                </div>
            </div>
            <div>
                <h2>Property Summary</h2>
            </div>
            <div class="container" fxLayout="row" fxLayoutAlign="start center">
                <div style="padding: 20px;">
                    <div>Property Type</div>
                    <div>{{property.propertyType}}</div>
                </div>
                
                <div style="padding: 20px; max-width: 200px;">
                    <div>Built in</div>
                    <div>{{property.address}}</div>
                </div>
                <div style="padding: 20px;">
                    <div>Built in</div>
                    <div>{{property.yearBuilt}}</div>
                </div>
            </div>
            <div>
                <h2>Location</h2>
            </div>
            <div>
                <agm-map [latitude]="property.location.lat" [longitude]="property.location.lng" [zoom]="13" [fullscreenControl]='true' [mapTypeControl]='true'>
                    <agm-marker [latitude]="property.location.lat" [longitude]="property.location.lng"></agm-marker>
                </agm-map>
            </div>
            <div>
                <h2>Property Gallery</h2>
            </div>
            <div class="basic-container">
                <gallery id="property-gallery" [items]="items"></gallery>
            </div>            

        </div>
    </div>
</div>