<div *ngIf="property">
    <section class="single-property-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="single-property">
                        <div class="sp-image" *ngIf="imagesRect.length > 0">
                            <section>
                                <ks-carousel [id]="111" [images]="imagesRect"
                                    [carouselConfig]="{maxWidth: '766px', maxHeight: '400px', showArrows: true, objectFit: 'cover', keyboardEnable: true, modalGalleryEnable: true, legacyIE11Mode: false}"
                                    [previewConfig]="{visible: true, number: 5, width: 'auto', maxHeight: '100px'}">
                                </ks-carousel>
                            </section>
                        </div>
                        <div class="row">
                            <div class="col-lg-8">
                                <div class="property-header">
                                    <h3>{{property.address}}</h3>
                                    <h5>{{property.neighborhood}}</h5>
                                </div>
                            </div>
                            <div class="col-lg-4 text-left text-lg-right">
                                <div class="property-header">
                                    <h3>{{property.askingPrice | currency}}</h3>
                                    <p>{{property.propertyType | translate}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="property-info-bar">
                            <div class="row">
                                <div class="col-lg-7">
                                    <div class="pi-metas">
                                        <div class="pi-meta"><img src="assets/square.svg"
                                                alt=""><span>{{property.numberOfRooms}}</span></div>
                                        <div class="pi-meta"><img src="assets/bed.svg"
                                                alt=""><span>{{property.numberOfWashrooms}}</span></div>
                                        <!-- <div class="pi-meta">1 Garage</div> -->
                                        <div class="pi-meta"><img src="assets/bath.svg"
                                                alt=""><span>{{property.area}}</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="property-text">
                            <div [innerHTML]="property.description | description"></div>
                        </div>

                        <div class="pd-details-tab">
                            <div class="property-more-table">

                                <table *ngIf="property.features.length > 0">
                                    <tbody>
                                        <tr>
                                            <td class="upgrades-name">
                                                {{ 'property.upgrades' | translate }}:
                                            </td>
                                            <td>
                                                <div class="container">
                                                    <div class='row'>
                                                        <div *ngFor="let feature of property.features"
                                                            class="list-multiple">
                                                            {{feature.description | translate}}<span
                                                                *ngIf="feature.year">({{feature.year}})</span>,
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                                <table *ngIf="property.remaining.length > 0">
                                    <tbody>
                                        <tr>
                                            <td class="upgrades-name">
                                                {{ 'property.remaining' | translate }}:
                                            </td>
                                            <td class="upgrades-value">
                                                <div class="container">
                                                    <div class='row'>
                                                        <div *ngFor="let item of property.remaining"
                                                            class="list-multiple">
                                                            {{item | translate}},
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>


                                <table class="left-table">
                                    <tbody>
                                        <tr>
                                            <td class="pt-name">{{ 'property.type' | translate }}</td>
                                            <td class="p-value">{{ property.propertyType | translate}}</td>
                                        </tr>
                                        <tr>
                                            <td class="pt-name">{{ 'property.usage' | translate }}</td>
                                            <td class="p-value">{{ property.usage | translate}}</td>
                                        </tr>
                                        <tr>
                                            <td class="pt-name">{{ 'property.year' | translate }}</td>
                                            <td class="p-value">{{property.yearBuilt}}</td>
                                        </tr>
                                        <tr>
                                            <td class="pt-name">{{ 'property.price' | translate }}</td>
                                            <td class="p-value">{{property.askingPrice | currency}}</td>
                                        </tr>
                                        <tr>
                                            <td class="pt-name">{{ 'property.rooms' | translate }}</td>
                                            <td class="p-value">{{property.numberOfRooms}}</td>
                                        </tr>
                                        <tr>
                                            <td class="pt-name">{{ 'property.bathrooms' | translate }}</td>
                                            <td class="p-value">{{property.numberOfWashrooms}}</td>
                                        </tr>
                                        <tr>
                                            <td class="pt-name">{{ 'property.basementCondition' | translate }}</td>
                                            <td class="p-value">{{property.basementCondition | translate}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table class="right-table">
                                    <tbody>
                                        <tr>
                                            <td class="pt-name">{{ 'property.listingNumber' | translate }}</td>
                                            <td class="p-value">{{property.listingNumber}}</td>
                                        </tr>
                                        <tr>
                                            <td class="pt-name">{{ 'property.propertyStyle' | translate }}</td>
                                            <td class="p-value">{{property.propertyStyle | translate}}</td>
                                        </tr>
                                        <tr>
                                            <td class="pt-name">{{ 'property.onMarketSince' | translate }}</td>
                                            <td class="p-value">{{property.onMarketSince | date}}</td>
                                        </tr>
                                        <tr>
                                            <td class="pt-name">{{ 'property.area' | translate }}Area</td>
                                            <td class="p-value">{{property.area}}</td>
                                        </tr>
                                        <tr>
                                            <td class="pt-name">{{ 'property.lotArea' | translate }}</td>
                                            <td class="p-value">{{property.lotArea}}</td>
                                        </tr>
                                        <tr>
                                            <td class="pt-name">{{ 'property.garage' | translate }}</td>
                                            <td class="p-value">{{property.garage | translate}}</td>
                                        </tr>
                                        <tr>
                                            <td class="pt-name">{{ 'property.garageSize' | translate }}</td>
                                            <td class="p-value">{{property.garageSize}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="property.youtubeLink" class="iframe-container">
                        <iframe [src]='safeURL' frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col-lg-4 col-md-8 sidebar">
                    <div class="map-widget">
                        <agm-map [latitude]="property.location.lat" [longitude]="property.location.lng" [zoom]="13"
                            [fullscreenControl]='true' [mapTypeControl]='true'>
                            <agm-marker [latitude]="property.location.lat" [longitude]="property.location.lng">
                            </agm-marker>
                        </agm-map>
                    </div>
                    <div class="agent-widget" *ngIf="me">
                        <div class="contact-service">
                            <img src="img/single-property/small.png" alt="">
                            <table>
                                <tr>
                                    <td><h5>{{me.displayName.chinese}}</h5></td>
                                </tr>
                                <tr>

                                    <td><i class="fa fa-phone-square"></i><span>  {{me.phoneNumber}}</span></td>
                                </tr>
                                <tr>
                                    <td><i class="fa fa-envelope"></i><span>  {{me.email}}</span></td>
                                </tr>
                                <tr>
                                    <td><img src="{{me.barcode.link}}" style="width: 40%;"></td>
                                </tr>                                
                            </table>
                            <div class="col-lg-12">
                                <h5>{{'property.sendEmailTitle' | translate}}</h5>
                                <form action="#" class="contact-form">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <input type="text" placeholder="{{'property.email.from' | translate}}" [(ngModel)]="emailDetail.from" name="from">
                                        </div>
                                        <div class="col-lg-6">
                                            <input type="text" placeholder="{{'property.email.number' | translate}}" [(ngModel)]="emailDetail.phoneNumber" name="phoneNumber">
                                        </div>
                                        <div class="col-lg-12">
                                            <input type="text" placeholder="{{'property.email.email' | translate}}" [(ngModel)]="emailDetail.email" name="email">
                                        </div>                                        
                                        <div class="col-lg-12">
                                            <textarea placeholder="{{'property.yourMessage' | translate}}" [(ngModel)]="emailDetail.message" name="message"></textarea>
                                            <button mat-raised-button class="btn btn-dark" (click)="sendEmail()">{{'property.sendMessage' | translate}}</button>
                                        </div>
                                    </div>
                                </form>
                            </div>  
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>