<div *ngIf="property">

    <section class="single-property-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="single-property">
                        <div class="sp-image">
                            <section>
                                <ks-carousel [id]="111" [images]="imagesRect"
                                    [carouselConfig]="{maxWidth: '766px', maxHeight: '400px', showArrows: true, objectFit: 'cover', keyboardEnable: true, modalGalleryEnable: true, legacyIE11Mode: false}"
                                    [previewConfig]="{visible: true, number: 5, width: 'auto', maxHeight: '100px'}">
                                </ks-carousel>
                            </section>
                        </div>
                        <div class="row">
                            <div class="col-lg-8">
                                <div class="property-header">
                                    <h3>{{property.address}}</h3>
                                    <h5>{{property.neighborhood}}</h5>
                                </div>
                            </div>
                            <div class="col-lg-4 text-left text-lg-right">
                                <div class="property-header">
                                    <h3>{{property.askingPrice | currency}}</h3>
                                    <p>{{property.propertyType}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="property-info-bar">
                            <div class="row">
                                <div class="col-lg-7">
                                    <div class="pi-metas">
                                        <div class="pi-meta">{{property.numberOfRooms}} Bedrooms </div>
                                        <div class="pi-meta">{{property.numberOfWashrooms}} Baths</div>
                                        <!-- <div class="pi-meta">1 Garage</div> -->
                                        <div class="pi-meta">{{property.area}} SF</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="property-text">
                            <!-- <h4>Description</h4> -->
                            <p>{{property.description}}</p>
                        </div>

                        <div class="pd-details-tab">
                            <div class="property-more-table">
                                <table class="left-table">
                                    <tbody>
                                        <tr>
                                            <td class="pt-name">Type</td>
                                            <td class="p-value">{{property.propertyType}}</td>
                                        </tr>
                                        <tr>
                                            <td class="pt-name">Year</td>
                                            <td class="p-value">{{property.yearBuilt}}</td>
                                        </tr>
                                        <tr>
                                            <td class="pt-name">Price</td>
                                            <td class="p-value">{{property.askingPrice}}</td>
                                        </tr>
                                        <tr>
                                            <td class="pt-name">Rooms</td>
                                            <td class="p-value">{{property.numberOfRooms}}</td>
                                        </tr>
                                        <tr>
                                            <td class="pt-name">Bathrooms</td>
                                            <td class="p-value">{{property.numberOfWashrooms}}</td>
                                        </tr>
                                        <tr>
                                            <td class="pt-name">Garage Type</td>
                                            <td class="p-value">{{property.garageType}}</td>
                                        </tr>
                                        <tr>
                                            <td class="pt-name">Basement Condition</td>
                                            <td class="p-value">{{property.basementCondition}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table class="right-table">
                                    <tbody>
                                        <tr>
                                            <td class="pt-name">List #</td>
                                            <td class="p-value">{{property.listingNumber}}</td>                                            
                                        </tr>
                                        <tr>
                                            <td class="pt-name">Levels</td>
                                            <td class="p-value">{{property.levels}}</td>
                                        </tr>
                                        <tr>
                                            <td class="pt-name">Listing Date</td>
                                            <td class="p-value">{{property.onMarketSince}}</td>
                                        </tr>
                                        <tr>
                                            <td class="pt-name">Area</td>
                                            <td class="p-value">{{property.area}}</td>
                                        </tr>
                                        <tr>
                                            <td class="pt-name">Garages</td>
                                            <td class="p-value">2</td>
                                        </tr>
                                        <tr>
                                            <td class="pt-name">Home area</td>
                                            <td class="p-value">1200 sqft</td>
                                        </tr>
                                        <tr>
                                            <td class="pt-name">Upgrades</td>
                                            <td class="p-value">{{property.upgrades}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="property.youtubeLink" class="iframe-container">
                        <iframe [src]='safeURL' frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col-lg-4 col-md-8 sidebar">
                    <div class="map-widget">
                        <agm-map [latitude]="property.location.lat" [longitude]="property.location.lng" [zoom]="13"
                            [fullscreenControl]='true' [mapTypeControl]='true'>
                            <agm-marker [latitude]="property.location.lat" [longitude]="property.location.lng">
                            </agm-marker>
                        </agm-map>
                    </div>
                    <div class="agent-widget">
                        <img src="https://images.squarespace-cdn.com/content/v1/5d425c3accfbe50001c13b16/1566969629321-TTQ8UBGKSPJGRUHGIM9W/ke17ZwdGBToddI8pDm48kIuKwdzSVqLXMc18aV8VnRFZw-zPPgdn4jUwVcJE1ZvWhcwhEtWJXoshNdA9f1qD7TjHkaYfD5WE2gtMQ4su2Xqyy1UoB2raaG8UBNwZrHEiD-_H3vAfByeds2BCBXVrpw/guant_20171111_D811996-removebg-preview+50%25.png?format=300w"
                            alt="">
                        <div class="aw-text">
                            <h4>Christinne James</h4>
                            <h6>Real Estate Agent</h6>
                            <p>Fusce lobortis a enim eget tempus. Class aptent taciti sociosqu ad litora. Donec eget
                                efficitur ex. Donec eget dolor vitae eros feugiat tristique id vitae massa. </p>
                            <a href="#" class="readmore-btn">Contact the agent</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>