.mat-card {
    max-width: 600px;
  }
ul,  
li {  
      margin: 0;  
      padding: 0;  
      list-style: none;  
}

  .card {
    min-width: 80%;
  }
  
  .example-container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 100%;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 500px;
  }