
  .mat-form-field {
    display: inline-flex;
    margin-right: 30px;
  }

  .mat-card-content {
    margin-top: 20px;
    flex-direction: row;
    vertical-align: middle;
  }


  mat-card img{
    object-fit: cover; /*this makes the image in src fit to the size specified below*/
    width: auto; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
    
  }

  .language-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }
  
  .language-section-margin {
    margin: 0 10px;
  }


.delete {
  position: absolute;
  top: 25px;
  left: 25px;
  /* background: #FDAE5C; */
  /* padding: 2px; */
  /* color: #fff; */
  /* border-radius: 10px; */
  /* font-size: 13px; */
  /* font-weight: 500; */
  z-index: 1;  
}

.gallery-image {
  max-width: none !important;
}