 /* .map {
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 30px;
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  } */

agm-map {
    height: 300px;
 }

 .custom-day {
    text-align: center;
    padding: 0.185rem 0.25rem;
    display: inline-block;
    height: 2rem;
    width: 2rem;
  }
  .custom-day.focused {
    background-color: #e6e6e6;
  }
  .custom-day.range, .custom-day:hover {
    background-color: rgb(29, 42, 54);
    color: white;
  }
  .custom-day.faded {
    background-color: rgba(2, 3, 3, 0.5);
  }
