<div class="container" *ngIf="properties != null">
  <div>
    <h1><strong>{{'openHouse.title' | translate}}</strong></h1>
  </div>
  <div class="col-lg-12">
    <div class="map">
      <agm-map [latitude]="49.810088" [longitude]="-97.183745" [zoom]="11" [zoomControl]="false">
        <agm-marker *ngFor="let property of properties" [latitude]="property.location.lat" [longitude]="property.location.lng"
          [iconUrl]="icon">
          <agm-info-window [isOpen]="true">
            <a routerLink="property.url">
              <div fxLayout="column" fxLayoutAlign="space-around center">
                <strong>{{property.address}}</strong>
                <strong>{{property.openHouseDate | date:'medium'}}</strong>
              </div>
            </a>
          </agm-info-window>
        </agm-marker>
      </agm-map>
    </div>
  </div>

  <div class="col-lg-12">
    <div class="row">

      <div class="col-lg-4">
        <p>Example of the range selection</p>

        <ngb-datepicker #dp (dateSelect)="onDateSelection($event)" [displayMonths]="1" [dayTemplate]="t" >
        </ngb-datepicker>
        
        <ng-template #t let-date let-focused="focused" >
          <span class="custom-day"
                [class.focused]="focused"
                [class.range]="isEventDay(date)"
                [class.faded]="isHovered(date) || isInside(date)"
                [ngbTooltip] = "showTooltip(date)"
                data-html="true"
                (mouseenter)="hoveredDate = date"
                (mouseleave)="hoveredDate = null">
            {{ date.day }}
          </span>
        </ng-template>

        <!-- <ng-template #tooltip let-date="date">
          <div class="d-flex flex-column">
            <div *ngFor="let tooltip of showTooltip(date)">
              <span>tooltip</span>
            </div>
          </div>
      </ng-template> -->

      </div>
      <div class="col-lg-8">
        <div class="popular_property">
          <div class="container">
            <div class="row">
                <div class="col-md-6" *ngFor="let property of selectedProperties">
                    <app-listing-card [property]="property"></app-listing-card>
                </div>
            </div>
        </div>

        </div>

      </div>
    </div>
  </div>
</div>