@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

body {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-style: normal;
  word-wrap: break-word;
}

img {
  max-width: 100%; 
}

a,
.button {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

a:focus,
.button:focus, button:focus {
  
  outline: none;
}


/* a:focus {
  text-decoration: none;
} */

a,
button {
  color: #1F1F1F;
  outline: medium none;
}


h1, h2, h3, h4, h5 {
  font-family: "Poppins", sans-serif;
  color: #001D38;
}


h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}

/* 
label {
  color: #7e7e7e;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
} */


*::-moz-selection {
  background: #444;
  color: #fff;
  text-shadow: none;
}


::-moz-selection {
  background: #444;
  color: #fff;
  text-shadow: none;
}


::selection {
  background: #444;
  color: #fff;
  text-shadow: none;
}


*::-webkit-input-placeholder {
  color: #cccccc;
  font-size: 14px;
  opacity: 1;
}


*:-ms-input-placeholder {
  color: #cccccc;
  font-size: 14px;
  opacity: 1;
}


*::-ms-input-placeholder {
  color: #cccccc;
  font-size: 14px;
  opacity: 1;
}


*::placeholder {
  color: #cccccc;
  font-size: 14px;
  opacity: 1;
}


h3 {
  font-size: 24px;
}


.property-list.plus_padding {
  padding-top: 186px;
}

@media (max-width: 767px) {
  
  .property-list.plus_padding {
    padding-top: 50px;
  }
}

@media (max-width: 767px) {
  
  .property-list {
    padding-top: 50px;
    padding-bottom: 20px;
  }
}


.property-list .property-single {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 30px;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}


.property-list .property-single .property_thumb {
  position: relative;
  overflow: hidden;
}


.property-list .property-single .property_thumb img {
  width: 100%;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}


.property-list .property-single .property_thumb .property_tag {
  position: absolute;
  top: 25px;
  left: 25px;
  background: #FDAE5C;
  padding: 8px 14px;
  color: #fff;
  border-radius: 30px;
  font-size: 13px;
  font-weight: bold;
  z-index: 1;
}

.property-list .property-single .property_thumb .property_price {
  position: absolute;
  top: 25px;
  right: 25px;
  background: rgba(36, 65, 66, 0.329);
  padding: 8px 14px;
  color: #fff;
  border-radius: 30px;
  font-size: 13px;
  font-weight: bold;
  z-index: 1;
}


.property-list .property-single .property_thumb .property_tag.red {
  background: #FF5748 !important;
}


.property-list .property-single .property-content {
  
  border-bottom: 1px solid #E8E8E8;
}


.property-list .property-single .property-content .main_pro h3 {
  font-size: 16px;
  color: #001D38;
  font-weight: bold;
  
}


.property-list .property-single .property-content .main_pro h3 a {
  color: #001D38;
}


.property-list .property-single .property-content .main_pro h3 a:hover {
  color: #FDAE5C;
}


.property-list .property-single .property-content .mark_pro span {
  font-size: 13px;
  font-weight: 400;
  color: #919191;
}


.property-list .property-single .property-content .amount {
  display: inline-block;
  background: #00D363;
  border-radius: 30px;
  padding: 7px 18px;
  color: #fff;
  font-weight: 500;
  font-size: 13px;
  margin-top: 13px;
}


.property-list .property-single .footer-card {
  /* padding: 12px 25px; */
}


.property-list .property-single .footer-card ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}


.property-list .property-single .footer-card ul li .single_info_doc span {
  color: #001D38;
  font-size: 16px;
  font-weight: 400;
  margin-left: 5px;
  display: inline-block;
}


.property-list .property-single:hover .property_thumb img {
  -webkit-transform: scale(1.06);
  -moz-transform: scale(1.06);
  -ms-transform: scale(1.06);
  transform: scale(1.06);
}


.blog-sidebar .widget_title {
  font-size: 20px;
  margin-bottom: 40px; 
}

.blog-sidebar .widget_title::after {
  content: "";
  display: block;
  padding-top: 15px;
  border-bottom: 1px solid #f0e9ff; 
}

.blog-sidebar .sidebar-widget {
  background: #fbf9ff;
  padding: 30px;
  margin-bottom: 30px; 
}

.blog-sidebar .newsletter_widget .form-control {
  height: 50px;
  border-color: #f0e9ff;
  font-size: 13px;
  color: #999999;
  padding-left: 20px;
  border-radius: 0; 
}
  .blog-sidebar .newsletter_widget .form-control::placeholder {
    color: #999999; 
  }
  .blog-sidebar .newsletter_widget .form-control:focus {
    border-color: #f0e9ff;
    outline: 0;
    box-shadow: none; 
  }

.blog-sidebar .newsletter_widget .input-group button {
  background: #fff;
  border-left: 0;
  border: 1px solid #f0e9ff;
  padding: 4px 15px;
  border-left: 0; 
}

.blog-sidebar .newsletter_widget .input-group button i,
.blog-sidebar .newsletter_widget .input-group button span {
  font-size: 14px;
  color: #999999; 
}

.blog-sidebar .blog-widget .cat-list li {
  border-bottom: 1px solid #f0e9ff;
  transition: all 0.3s ease 0s;
  padding-bottom: 12px; 
}

.blog-sidebar .blog-widget .cat-list li:last-child {
  border-bottom: 0; 
}

.blog-sidebar .blog-widget .cat-list li a {
  cursor: pointer;
  font-size: 14px;
  line-height: 20px;
  color: #888888; 
}

.blog-sidebar .blog-widget .cat-list li a p {
  margin-bottom: 0px; 
}

.blog-sidebar .blog-widget .cat-list li + li {
  padding-top: 15px; 
}

.blog-sidebar .blog-random .post-item .media-body {
  justify-content: center;
  align-self: center;
  padding-left: 20px; 
}
.blog-sidebar .blog-random .post-item .media-body h3 {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 6px;
  transition: all 0.3s linear; 
}
.blog-sidebar .blog-random .post-item .media-body a:hover {
  color: #fff; 
  cursor: pointer;
}
.blog-sidebar .blog-random .post-item .media-body p {
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 0px; 
}

.blog-sidebar .blog-random .post-item + .post-item {
  margin-top: 20px; 
}

.blog-sidebar .br {
  width: 100%;
  height: 1px;
  background: #eeeeee;
  margin: 30px 0px; 
}

.blog-sidebar .feeling-lucky-cover {
  width: 30%;  
  height: 30%;
}

.blog-sidebar .current-category {
  background:  #dfa974;
  color: white;
}


a:hover {
  background: -webkit-linear-gradient(131deg, #dca73a 0%, #dca73a 99%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: #dca73a;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s; 
}


.map {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 30px;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}