agm-map {
    height: 500px;
 }

 .carousel-caption > * {
    font-weight: bold;
    background: rgba(36, 65, 66, 0.329);
    padding: 8px 14px;
    color: #fff;
    border-radius: 5px;
    z-index: 1;
 }

 .carousel-text {
   /* position: absolute; */
   background: rgba(36, 65, 66, 0.329);
   padding: 8px 14px;
   color: #fff;
   border-radius: 30px;
   font-weight: 500;
   z-index: 1;
 }
