<div class="col-lg-12">
    <ngb-carousel *ngIf="slides.length > 0">
        <div *ngFor="let slide of slides">
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                    <a routerLink="/property/{{slide.id}}">
                        <img src="{{slide.url}}" alt="Random second slide" width="100%">
                    </a>
                </div>
                <div class="carousel-caption" fxLayout="column" fxLayoutAlign="start center" >
                    <h2>{{slide.text}}</h2>
                    <h3>{{slide.price | currency}}</h3>
                    <h3 *ngIf="slide.openHouse">Open House on {{slide.openHouse | date:'medium'}}</h3>
                </div>
            </ng-template>
        </div>
    </ngb-carousel>
</div>

<div class="popular_property pt-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-md-6 col-lg-4" *ngFor="let property of properties">
                <app-listing-card [property]="property"></app-listing-card>
            </div>
        </div>
    </div>
</div>